@use "../../styles/partials/abstracts" as *;
// @use "../../styles/partials/grids";

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--Graphite);
  align-items: center;
  padding: 1.5rem 1rem;

  @include tablet {
    flex-direction: row;
    padding: 1.5rem 2rem;
    justify-content: space-between;
  }

  &__logo {
    padding-bottom: .5rem;

    @include tablet {
      padding-bottom: 0;
    }
  }

  &__buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include tablet {
      justify-content: right;
    }
  }

  &__buttons {
    background-color: var(--Graphite);
    // background-color: green;
    color: var(--Cloud);
    border-radius: 20px;
    height: 36px;
    border: none;
    width: 100%;

    @include tablet {
      height: 38px;
    }
  }

  // &__warehouse-button {
    // background-color: var(--Graphite);
    // // background-color: green;
    // color: var(--Cloud);
    // border-radius: 20px;
    // height: 36px;
    // border: none;
    // width: 100%;

    // @include tablet {
    //   height: 38px;
    // }
  // }

  &__warehouse-button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--White);
  }

  &__inventory-button {
    background-color: var(--Graphite);
    // background-color: green;
    color: var(--Cloud);
    border-radius: 20px;
    height: 36px;
    border: none;

    @include tablet {
      height: 38px;
    }
  }

  &__inventory-button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--White);
  }

  &__button-font {
    font-size: 0.8rem;
    margin: 0;
    padding: 0 2rem;

    @include tablet {
      padding: 0 1rem;
    }
  }

  // add class "header__button-active" as a second class to inventory & warehouse components
  &__button-active {
    background-color: var(--Instock-Black);
    color: var(--White);
  }

  &__button-active:hover {
    background-color: var(--Instock-Black);
    text-decoration: underline;
    cursor: pointer;

  }
}