.header-block {
  display: flex;
  justify-content: center;
  background-color: var(--Graphite);
  width: 100%;
  z-index: 1;
}
.header-block__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: var(--White);
  width: 87%;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  z-index: 1;
  padding: 1rem;
  border-bottom: 1px solid var(--Cloud);
}
@media (width >= 768px) {
  .header-block__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    display: flex;
    padding: 1rem 1.5rem 0.7rem;
    width: var(--card-width-tablet);
  }
}
@media (width >= 1280px) {
  .header-block__container {
    height: 6.6rem;
    padding: 1rem 2rem 1.5rem;
    width: var(--card-width);
    align-items: center;
  }
}
.header-block .header-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-block__back-button {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}
.header-block__title {
  display: flex;
  flex-direction: row;
  justify-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 1.45rem;
  padding-left: 0;
}
@media (width >= 768px) {
  .header-block__title {
    padding-left: 0rem;
    margin-right: auto;
  }
}
@media (width >= 1280px) {
  .header-block__title {
    padding-left: 0rem;
    margin-right: auto;
  }
}
.header-block__search {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.5rem 0;
  margin: 1rem 1rem;
  border: 1px solid var(--Cloud);
  border-radius: 1.25rem;
}
@media (width >= 768px) {
  .header-block__search {
    width: 10rem;
    margin-right: 1.2rem;
  }
}
@media (width >= 1280px) {
  .header-block__search {
    width: 18rem;
  }
}
.header-block__search input {
  padding-left: 1rem;
  border: none;
  margin-right: auto;
  background-color: transparent;
  width: 85%;
}
.header-block__search input:focus {
  outline: none;
}
.header-block__search img {
  padding-right: 0.5rem;
}
@media (width >= 768px) {
  .header-block__search img {
    width: 1.7rem;
    margin-left: -3rem;
  }
}
@media (width >= 1280px) {
  .header-block__search img {
    padding-right: 0.5rem;
  }
}
.header-block__search-bar {
  display: inline;
}
.header-block__add-button {
  transition: background-color 0.25s;
}
.header-block__add-button:hover {
  background-color: var(--Graphite);
  color: var(--White);
  transition: background-color 0.25s;
  cursor: pointer;
}
@media (width >= 768px) {
  .header-block__add-button {
    background-color: var(--Instock-Indigo);
    color: var(--White);
    border: none;
    border-radius: 1.25rem;
    padding: 0.35rem 1.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
  }
}
@media (width >= 1280px) {
  .header-block__add-button {
    background-color: var(--Instock-Indigo);
    color: var(--White);
    border: none;
    border-radius: 1.25rem;
    padding: 0.6rem 2rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=TitleComponent.css.map */