/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

section, .section, .container {
  padding: 1.5rem 1rem;
}
@media (width >= 768px) {
  section, .section, .container {
    padding: 3rem 2.25rem;
  }
}
@media (width >= 1280px) {
  section, .section, .container {
    padding: 3rem calc((100% - 1020px) / 2);
  }
}

:root {
  --Instock-Black: #13182c;
  --Instock-Indigo: #2e66e5;
  --White: #fff;
  --Slate: #5c667e;
  --Cloud: #bdc5d5;
  --Light-Blue: #eef2f8;
  --Graphite: #232940;
  --Light-Grey: #f7f8f9;
  --Green: #158463;
  --Red: #c94515;
  --font-family: "Titillium Web", sans-serif;
}

html {
  font-size: 16px;
}

.card-container__background {
  padding: 0;
  width: 100%;
  background-color: var(--Light-Grey);
  display: flex;
  justify-content: center;
}
.card-container__card {
  width: 87%;
  padding: 1.5rem;
  background-color: var(--White);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
  z-index: 0;
}
@media (width >= 768px) {
  .card-container__card {
    width: var(--card-width-tablet);
    padding: 2rem;
    background-color: var(--White);
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
    z-index: 0;
  }
}
@media (width >= 1280px) {
  .card-container__card {
    width: var(--card-width);
    padding: 2.5rem;
    background-color: var(--White);
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
    z-index: 0;
  }
}

:root {
  --delete-warehouse-modal-card-width: 100%;
  --delete-warehouse-modal-card-height: 100%;
  --delete-warehouse-modal-card-width-tablet: 40rem;
  --delete-warehouse-modal-card-height-tablet: 16rem;
}

.delete-warehouse-modal__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(19, 24, 44, 0.5);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.delete-warehouse-modal__container {
  width: var(--delete-warehouse-modal-card-width);
  height: var(--delete-warehouse-modal-card-height);
  background-color: var(--White);
  margin-top: 0;
  border-radius: 0.2rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}
@media (width >= 768px) {
  .delete-warehouse-modal__container {
    margin-top: 11.5rem;
    border-radius: 0.2rem;
    padding: 1.5rem 4rem;
    width: var(--delete-warehouse-modal-card-width-tablet);
    height: var(--delete-warehouse-modal-card-height-tablet);
  }
}
@media (width >= 1280px) {
  .delete-warehouse-modal__container {
    margin-top: 14rem;
  }
}
.delete-warehouse-modal__close {
  margin-left: auto;
}
@media (width >= 768px) {
  .delete-warehouse-modal__close {
    margin-right: -2rem;
  }
}
.delete-warehouse-modal__close img {
  width: 1.3rem;
}
.delete-warehouse-modal__close img:hover {
  cursor: pointer;
}
.delete-warehouse-modal__title {
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}
@media (width >= 768px) {
  .delete-warehouse-modal__title {
    margin-top: initial;
    margin-bottom: 1rem;
  }
}
.delete-warehouse-modal__title h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--Instock-Black);
}
.delete-warehouse-modal__text p {
  font-size: 0.9rem;
  max-width: 35rem;
  line-height: 1.7rem;
}
@media (width >= 768px) {
  .delete-warehouse-modal__text p {
    padding-right: 4.5rem;
    line-height: 1.5rem;
  }
}
.delete-warehouse-modal__buttons {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
@media (width >= 768px) {
  .delete-warehouse-modal__buttons {
    margin-left: auto;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    justify-content: flex-end;
    align-items: center;
  }
}
.delete-warehouse-modal__cancel {
  transition: background-color 0.25s, color 0.25s;
  background-color: var(--White);
  color: var(--Slate);
  border: 1px solid var(--Slate);
  border-radius: 1.25rem;
  padding: 0.35rem 2.9rem;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  flex-grow: 1;
}
@media (width >= 768px) {
  .delete-warehouse-modal__cancel {
    margin-left: 1rem;
    padding: 0.35rem 1rem;
  }
}
.delete-warehouse-modal__cancel:hover {
  background-color: var(--Cloud);
  color: var(--White);
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
}
.delete-warehouse-modal__delete {
  transition: background-color 0.25s, color 0.25s;
  background-color: var(--Red);
  color: var(--White);
  border: 1px solid var(--Red);
  border-radius: 1.25rem;
  padding: 0.35rem 2.9rem;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  flex-grow: 1;
}
@media (width >= 768px) {
  .delete-warehouse-modal__delete {
    margin-left: 1rem;
    padding: 0.35rem 1rem;
  }
}
.delete-warehouse-modal__delete:hover {
  background-color: var(--Instock-Black);
  border: 1px solid var(--Instock-Black);
  color: var(--White);
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
}/*# sourceMappingURL=DeleteWarehouseModal.css.map */